<div class="nearby-container" ng-init="init()">
    <div class="loading"></div>

    <div class="col filters">
        <div class="header">
            <h4>Filtri</h4>
        </div>
        <div class="field">
            <label for="categories">Scegli categoria</label>
            <select class="filter-select" ng-model="filters.categories" name="categories" id="categories" multiple>
                <option ng-repeat="category in $categories" value="{{category.id}}" icon="{{category.icon}}">{{category.name}}</option>
            </select>
        </div>

        <div class="header">
            <h4>Eventi <span>({{events.length}})</span></h4>
        </div>
        <div class="events-container">
            <ul class="clearlist">
                <li ng-repeat="event in events">
                    <div ng-include="'assets/templates/events/single-event-text-list.html'"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col map">
        <div id="map"></div>
    </div>
</div>
