<div class="row">
    <div class="col-sm-5 center-view">

        <p ng-show="loading == true" class="mal text-center">Caricamento in corso ...</p>
        <div ng-show="loading == false" class="events-container">
            <ul class="nav nav-tabs mbm">
                <li class="active"><a href="#saturday" data-toggle="tab">Sabato</a></li>
                <li><a href="#sunday" data-toggle="tab">Domenica</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="saturday">
                    <div ng-repeat="(id,event) in events.saturday">
                        <ng-include src="'assets/templates/events/single-event-list.html'"></ng-include>
                    </div>
                </div>
                <div class="tab-pane" id="sunday">
                    <div ng-repeat="(id,event) in events.sunday">
                        <ng-include src="'assets/templates/events/single-event-list.html'"></ng-include>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-7 side-view">
        <ng-include src="'assets/templates/events/single-event-detail.html'"></ng-include>
    </div>
</div>