<div class="event-detail" ng-show="event" ng-controller="EventDetails">

    <div ng-click="toggleExpandPoster($event)" class="header" style="background-image: url({{getEventImage()}})">
        <img src="{{getEventImage()}}" class="poster" alt=""/>
        <h2 class="title text-primary">{{event.nome}}</h2>
    </div>

    <div class="content">

        <div class="row">
            <div class="col-sm-5">
                <div id="map"></div>
            </div>
            <div class="col-sm-7">
                <table class="table table-responsive table-details">
                    <tr>
                        <td icon="calendar" class="prm"><strong>Data</strong></td>
                        <td><span>{{event.data}}</span></td>
                    </tr>
                    <tr>
                        <td icon="clock-o" class="prm"><strong>Orario</strong></td>
                        <td>
                            <span ng-show="event.OraInizio != ''">{{event.OraInizio}}</span>
                            <span ng-show="event.OraFine != ''">{{event.OraFine}}</span>
                            <em ng-show="event.OraFine == '' && event.OraInizio == ''">non comunicato</em>
                        </td>
                    </tr>
                    <tr>
                        <td icon="map-marker" class="prm"><strong>Luogo</strong></td>
                        <td>
                            <strong ng-show="event.NomeLuogo != null">{{event.NomeLuogo}}</strong>
                            <ul ng-show="hasLuogoSocial()" class="clearlist list-inline social-luogo">
                                <li ng-show="event.luogo_facebook != ''"><a href="{{event.luogo_facebook}}" title="Apri il Facebook del luogo" target="_blank" icon="facebook-square"></a> </li>
                                <li ng-show="event.luogo_twitter != ''"><a href="{{event.luogo_twitter}}" title="Apri Twitter del luogo" target="_blank" icon="twitter-square"></a> </li>
                                <li ng-show="event.luogo_googleplus != ''"><a href="{{event.luogo_googleplus}}" title="Apri Google Plus del luogo" target="_blank" icon="google-plus-square"></a> </li>
                                <li ng-show="event.luogo_foursquare != ''"><a href="{{event.luogo_foursquare}}" title="Apri Foursquare del luogo" target="_blank" icon="foursquare"></a> </li>
                                <li ng-show="event.luogo_myspace != ''"><a href="{{event.luogo_myspace}}" title="Apri Myspace del luogo" target="_blank" icon="maxcdn"></a> </li>
                            </ul>

                            <p ng-show="event.Indirizzo">{{event.Indirizzo}}</p>
                            <p>{{event.Localita}}</p>
                        </td>
                    </tr>
                    <tr ng-show="event.Animazione != null">
                        <td icon="music" class="prm"><strong>Animazione</strong></td>
                        <td>
                            <div>
                                <strong>{{event.AnimazioneNome}}</strong>
                                <ul class="clearlist list-inline">
                                    <li ng-show="event.animazione_facebook != ''"><a href="{{event.animazione_facebook}}" title="Apri il Facebook della band" target="_blank" icon="facebook-square"></a> </li>
                                    <li ng-show="event.animazione_twitter != ''"><a href="{{event.animazione_twitter}}" title="Apri Twitter della band" target="_blank" icon="twitter-square"></a> </li>
                                    <li ng-show="event.animazione_googleplus != ''"><a href="{{event.animazione_googleplus}}" title="Apri Google Plus della band" target="_blank" icon="google-plus-square"></a> </li>
                                    <li ng-show="event.animazione_myspace != ''"><a href="{{event.animazione_myspace}}" title="Apri Myspace della band" target="_blank" icon="maxcdn"></a> </li>
                                </ul>
                                <p>{{event.Animazione.replace(event.AnimazioneNome + " - ", "")}}</p>
                                <div style="width: 20%; height: 20%; float: right; background-image: url('{{event.animazione_image}}'); background-size: cover"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td icon="puzzle-piece" class="prm"><strong>Tipo</strong></td>
                        <td>
                            <ul class="clearlist">
                                <li ng-show="event.EM"><a href="#" icon="music">Evento musicale</a></li>
                                <li ng-show="event.ES"><a href="#" icon="trophy">Evento sportivo</a></li>
                                <li ng-show="event.FI"><a href="#" icon="beer">Fiera</a></li>
                                <li ng-show="event.MM"><a href="#" icon="eye">Mostra mercato</a></li>
                                <li ng-show="event.SP"><a href="#" icon="university">Spettacolo</a></li>
                                <li ng-show="event.FE"><a href="#" icon="users">Festa</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr ng-show="event.evento_facebook != '' || event.evento_twitter != '' || event.evento_googleplus != '' || event.evento_foursquare != '' || event.evento_myspace != ''">
                        <td icon="bullhorn" class="prm"><strong>Social</strong></td>
                        <td>
                            <ul class="clearlist">
                                <li ng-show="event.evento_facebook != ''"><a href="{{event.evento_facebook}}" title="Apri evento Facebook" target="_blank" icon="facebook-square">Facebook</a> </li>
                                <li ng-show="event.evento_twitter != ''"><a href="{{event.evento_twitter}}" title="Apri evento Twitter" target="_blank" icon="twitter-square"> Twitter</a> </li>
                                <li ng-show="event.evento_googleplus != ''"><a href="{{event.evento_googleplus}}" title="Apri evento Google Plus" target="_blank" icon="google-plus-square"> G+</a> </li>
                                <li ng-show="event.evento_foursquare != ''"><a href="{{event.evento_foursquare}}" title="Apri evento Foursquare" target="_blank" icon="foursquare"> Foursquare</a> </li>
                                <li ng-show="event.evento_myspace != ''"><a href="{{event.evento_myspace}}" title="Apri evento Myspace" target="_blank" icon="maxcdn"> Myspace</a> </li>
                            </ul>
                        </td>
                    </tr>
                    <tr ng-show="event.evento_link != ''">
                        <td icon="globe" class="prm"><strong>Sito</strong></td>
                        <td>
                            <a href="{{event.evento_link}}" title="Apri sito evento" target="_blank" icon="external-link-square">Vai al sito</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


    </div>

</div>