<a class="event-item" href="#/events/{{event.id}}">
    <div class="event-image pull-left" style="background-image: url('{{event.image_hi}}')">
        <div class="date-container" ng-class="{'single-date':event.DataFine == null}">
            <div date="{{event.DataInizio}}" ng-show="event.DataInizio != null"></div>
            <div date="{{event.DataFine}}" ng-show="event.DataFine != null"></div>
        </div>
    </div>
    <!--<div class="event-map pull-left mrm">-->
        <!--<img src="http://maps.google.com/maps/api/staticmap?center={{event.GPS_L}}&zoom=14&size=100x100&sensor=false&markers=color:green%7Clabel:N" />-->
    <!--</div>-->
    <p class="text-primary">{{event.nome}}</p>
    <small class="event-date">{{event.data}}</small>
    <small class="event-luogo">{{event.luogo}}</small>
</a>