<h3 icon="envelope">Contatti</h3>

<div class="content">
    <p><a href="index.asp" title="Non so cosa fare!"><strong>Non so cosa fare!</strong></a> è un sito puramente informativo, non è quindi responsabile di eventuali variazioni di programma indicati nelle pagine.<br>Si consiglia, quando possibile, di verificare ogni singolo evento consultando i recapiti nell'area contatti della pagina Dettagli.</p>
    <p>Per inviarci delle segnalazione di eventi potete usare il Form qui a destra, oppure inviarci una mail a <a href="mailto:eventi@nonsocosafare.it">eventi@nonsocosafare.it</a></p>
    <p>Per collegarti ai nostri calendari eventi tramite smartphone visita la pagina <a href="#/info">Info</a>.</p>
    <p>Se vuoi iscriverti ai nostri Feed RSS usa l'apposito tasto nella barra in basso.</p>
    <p>Segnalate qualsiasi tipo di problema a <a href="mailto:webmaster@nonsocosafare.it">webmaster@nonsocosafare.it</a>, anche i consigli sono bene accetti.</p>
    <p>Per informazioni <a href="mailto:info@nonsocosafare.it">info@nonsocosafare.it</a>. A volte potete anche trovarci on-line sulla chat di google: nonsocosafaretv@gmail.com</p>
    <p><a href="http://www.nonsocosafare.it/">www.nonsocosafare.it</a></p>
</div>