<h3 icon="info-sign">Informazioni</h3>
<div>
    <span>
        <a href="http://www.nonsocosafare.it/" title="NSCF: pagina Principale"><b>NonSoCosaFare!</b></a> è un sito puramente informativo, non è quindi responsabile di eventuali variazioni di programma indicati nelle pagine.<br>
        Si consiglia, quando possibile, di verificare ogni singolo evento consultando i recapiti nell'area contatti della pagina Dettagli.<br>
        Il sito si preoccupa di raccogliere più informazioni possibili su eventi da poter fare durante il tempo libero. Vuole essere un concentratore di avvenimenti per sfruttare al massimo i nostri momenti di svago.<br>
        Gli eventi riguardano la provincia di Treviso e dintorni: vengono inseriti anche eventi svolti in zone  limitrofe alla provincia di Treviso, comuni di  Vicenza, Padova, Venezia, Pordenone e Belluno.<br>
        <br>
        <a href="http://www.nonsocosafare.it/account.asp?login=NEW" onclick="window.open(this.href);return false;" name="InfoRegistrazione" title="Sezione Info Registrazione"><b>Ci si può anche registrare</b></a>. Inserendo infatti delle credenziali di accesso (nomeutente e password) più le coordinate di un punto (che può essere casa vostra o l'ufficio) compariranno nel sito altre informazioni aggiuntive, quali la distanza tra voi e l'evento oppure il calcolo automatico del tragitto che dovrete fare per raggiungere l'evento in questione.<br>
        <img src="http://www.nonsocosafare.it/i/InfoRegistrazione.gif" border="0"><br>
        Per fare questo, prima dovete registrarti (<a href="http://www.nonsocosafare.it/account.asp?login=NEW" onclick="window.open(this.href);return false;" title="Pagina delle registrazioni">link</a>), scegliendo un nomeutente e una password, e inserendo le coordinate (in gradi decimali "DD") del punto da dove volete vengano calcolate le distanze (ad esempio casa vostra).<br>
        Successivamente quando tornerete del sito, basterà fare il login (<a href="http://www.nonsocosafare.it/account.asp" onclick="window.open(this.href);return false;" title="Pagina Login">link</a>) e vi ritroverete tutti i calcoli fatti sulle coordinate lasciate durante la registrazione.<br>
        Se vi serve un aiuto su come individuare le coordinate del punto di vostro interesse, leggete questa piccola guida:<br>
        <ul type="square" style="padding:0 20px;">
            <span>
            <li>Accedere a <a href="http://maps.google.it/" onclick="window.open(this.href);return false;" title="Google Maps">Google Maps</a><br>
            </li><li>Cercate il punto che volete registrare (casa vostra, ufficio, ecc.). <a href="http://maps.google.it/?q=Piazza%20dei%20Signori%20a%20Treviso" onclick="window.open(this.href);return false;" title="Google Maps trova Piazza dei Signori a Treviso">In questo esempio cerco Piazza dei Signori a Treviso</a><br>
            </li><li>Cliccate sull'icona rossa in mezzo alla cartina, altro, fai zoom qui.<br>
            </li><li>A questo punto si vede bene il Palazzo dei Trecento (nel vostro caso, inserite la via e la città di casa vostra e individuatela spostandovi con il mouse).<br>
            </li><li>Con il tasto destro del mouse, cliccate sopra il Palazzo dei Trecento, poi su COSA C'E' QUI.<br>
            </li><li>Bene. Vedrete comparire le coordinate geografiche del Palazzo nella barra della ricerca. Sono tipo queste: <b>45.666036,12.245877</b><br>
            </li><li>La parte prima della virgola (45.666036) è la latitudine, mentre la parte dopo (12.245877) è la longitudine. Copiatele nelle rispettive celle del form di registrazione ed il gioco è fatto.<br>

            </li></span></ul>
        <br>
        <a name="InfoStrutturaSito" title="Sezione Info Struttura del sito"><b>Struttura del Sito.</b></a> Le pagine del sito si dividono in:<br>
        <ul type="square" style="padding:0 20px;">
            <span>
            <li><b>Oggi-Domani:</b> dove trovate gli eventi, appunto, di oggi e domani divisi in due colonne distinte. Gli eventi sono filtrabili attraverso sei categorie<br>
            </li><li><b>Weekend:</b> dove trovate sia eventi del weekend della settimana corrente (prima colonna), ma anche eventi della settimana prossima (seconda colonna). Anche qui gli eventi sono filtrabili attraverso sei categorie.<br>
            </li><li><b>Agenda:</b> qui c'è l'elenco di tutte le manifestazioni che NonSoCosaFare! propone a Treviso, da oggi per un mese circa, in ordine di data. Anche qui gli eventi sono filtrabili attraverso sei categorie.<br>
            </li><li><b>Calendario:</b> viene sfruttato il servizio gratuito di Google Calendar, per elencare gli eventi divisi per giorni, quindi potete usare i servizi google per visualizzarli come meglio vi ispira, (Agenda, settimana, mese, filtrare il giorno, ecc)<br>
            </li><li><b>Mappa:</b> anche qui viene sfruttato il servizio gratuito di Google Maps, così potete cercare l'evento che più si avvicina alla zona dove abitate (vi da l'idea della distanza tra voi e l'evento).<br>
            </li><li><b>Info:</b> questa pagina, dove troverete tutte le informazioni riguardanti NonSoCosaFare!<br>
            </li><li><b>Contatti:</b> elenco delle mail per contattarci, nonché un modulo per inviarci i vostri eventi.<br>

            </li></span></ul>
        <a name="InfoCategorie" title="Sezione Info filtro categorie"><b>Gli eventi sono divisi in sei categorie.</b></a> Per filtrare gli eventi, basta cliccare la scritta della categoria oppure il simbolo colorato. Nell'esempio qui sotto è stata scelta la pagina di Oggi-Domani e sono stati filtrati gli eventi che riguardano gli spettacoli.<br>
        <br>
        <img src="http://www.nonsocosafare.it/i/Esempio.gif" border="0"><br>
        <br>
        Le categorie contengono:<br>
        <ul type="square" style="padding:0 20px;">
            <span>
            <li><b>Evento Musicale:</b> Gruppi musicali che si esibiscono in locali o feste, concerti, festival, rassegne di canti.<br>
            </li><li><b>Evento Sportivo:</b> eventi legati allo Sport che vengono svolti occasionalmente (tipo una maratona, un raduno, il Trofeo Topolino, sport all'aria aperta, corsa podistica, un torneo di sport vari, rally, giochi sportivi, ecc). Si evita volutamente eventi che si ripetono per tipologia e frequenza (Tipo una partita di calcio che si fa tutte le domeniche sempre nello stesso posto)<br>
            </li><li><b>Fiera:</b> Fiere all'aperto o all'interno di Stand, Expo, Esposizioni, ecc.<br>
            </li><li><b>Mostra Mercato:</b> qui trovate i mercatini (dell'antiquariato, di libri, di natale, rassegne dell'artigianato,  ecc) e le mostre (del radicchio, di vini, di fiori, di formaggi, di dischi, ecc)<br>
            </li><li><b>Spettacolo:</b> Eventi legati a spettacoli vari (cabaret, racconti di storie, folclore, fiaccolate, sfilate, ecc) oppure tradizionali (Palio, Panevin, carri mascherati, attrazioni tipo le fiere di San Luca, ecc). Spettacoli all'aperto e non.<br>
            </li><li><b>Feste:</b> Tutte le Sagre, le Feste, le manifestazioni, gli eventi gastronomici, ecc.<br>

            </li></span></ul>
        <a name="InfoPaginaDettaglio" title="Sezione Info pagina dettaglio"><b>Ogni evento che trovate in elenco ha una sua pagina dettaglio,</b></a> dove viene meglio dettagliato il luogo, i link ai riferimenti originali, l'eventuale particolare dell'evento a pagamento o quello dedicato ai bambini, trovate eventuali locandine, la possibilità di aggiungere l'evento al vostro calendario personale, ecc.<br>
        <br>
        <a name="InfoFiltriEventi" title="Sezione Info come filtrare gli eventi"><b>Potete filtrare gli eventi,</b></a> per citta', gruppo musicale, tipo di festa, ecc, utilizzando il box nella barra inferiore. Basta scrivere il testo e premere Invio.<br>
        <br>
        <a name="InfoInviareEventi" title="Sezione Info Form invio Eventi"><b>Tutti possiamo mandare i nostri eventi:</b></a> dalla Proloco che organizza una Sagra al gruppo musicale che organizza un live aperto al pubblico. Potete anche fotografare una locandina esposta di una festa o altro e inviarcela per posta elettronica.<br>
        Tutto è gratuito, dalla consultazione del sito all'invio di eventi.<br>
        <br>
        <a name="InfoSocialNetwork" title="Sezione Social Network"><b>Ci trovate anche nei Social Network:</b></a><br>
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody><tr>
                <td><a href="http://www.facebook.com/pages/Non-So-Cosa-Fare/115503405137492" onclick="window.open(this.href);return false;" title="Facebook"><img src="http://www.nonsocosafare.it/i/facebook.jpg" border="0"></a></td>
                <td width="5"> </td>
                <td><a href="http://www.facebook.com/pages/Non-So-Cosa-Fare/115503405137492" onclick="window.open(this.href);return false;" title="Facebook">Facebook</a>, potete commentare, dar consigli e seguire i nostri eventi che sono su Facebook.</td>
            </tr>
            <tr>
                <td><a href="https://profiles.google.com/107081973454971712286" onclick="window.open(this.href);return false;" title="Google+"><img src="http://www.nonsocosafare.it/i/google+.jpg" border="0"></a></td>
                <td width="5"> </td>
                <td><a href="https://profiles.google.com/107081973454971712286" onclick="window.open(this.href);return false;" title="Google+">Google+</a>, potete commentare, dar consigli e seguire i nostri eventi che sono su Google+.</td>
            </tr>
            <tr>
                <td><a href="http://twitter.com/nonsocosafaretv" onclick="window.open(this.href);return false;" title="Twitter"><img src="http://www.nonsocosafare.it/i/twitter.jpg" border="0"></a></td>
                <td width="5"> </td>
                <td><a href="http://twitter.com/nonsocosafaretv" onclick="window.open(this.href);return false;" title="Twitter">Twitter</a>, vengono proposti gli eventi principali, quelli più tradizionali di Treviso.</td>
            </tr>
            </tbody></table>
        <br>
        <a name="InfoFeed" title="Sezione Feed RSS"><b>Se volete iscrivervi ai nostri Feed RSS, potete usare questi link:</b></a><br>
        <br>
        Feed generici di tutti gli eventi pubblicati nel sito. Queste sono le opzioni:
        <dl style="margin:3px;">
            <dt><a href="http://www.nonsocosafare.it/Feed_NSCF_RSS.asp" title="I nostri Feed RSS di oggi e domani"><img src="http://www.nonsocosafare.it/i/RSS.jpg" style="border:0;"></a> Feed generico degli eventi delle prossime 24 ore</dt>
            <dt><a href="http://www.nonsocosafare.it/Feed_NSCF_RSS.asp?Options=NoImage" title="I nostri Feed RSS di oggi e domani"><img src="http://www.nonsocosafare.it/i/RSS.jpg" style="border:0;"></a> Feed generico degli eventi delle prossime 24 ore senza immagini</dt>
            <dt><a href="http://www.nonsocosafare.it/Feed_NSCF_RSS.asp?Filter=OnlyToday" title="I nostri Feed RSS di oggi"><img src="http://www.nonsocosafare.it/i/RSS.jpg" style="border:0;"></a> Feed generico degli eventi di oggi</dt>
            <dt><a href="http://www.nonsocosafare.it/Feed_NSCF_RSS.asp?Filter=OnlyToday&amp;Options=NoImage" title="I nostri Feed RSS di oggi"><img src="http://www.nonsocosafare.it/i/RSS.jpg" style="border:0;"></a> Feed generico degli eventi di oggi senza immagini</dt>
        </dl>
        <br>

        <b>Note</b>: ti ricordiamo che è possibile avere un Feed RSS personalizzato contenente soli eventi che veramente ti interessano. Registrati (o accedi al sito) e scopri come ottenere il tuo Feed nella pagina <a href="http://www.nonsocosafare.it/account.asp#tabs-3" title="Feed personalizzato">account</a> oppure in questa pagina, dove troverai anche tutte le opzioni possibili<br>

        <br>
        I nostri Feed possono essere sottoscritti con varie opzioni:<br>
        - filtro sugli eventi: c'e' la possibilita' di ricevere i Feed che riguardano eventi solo di oggi, oppure delle prossime 24 ore (oggi e domani)<br>
        - filtro sulle immagini: possibilita' di avere nel Feed senza le immagini delle eventuali locandine<br>
        <br>
        <a name="InfoCalendari" title="Sezione Calendari"><b>I nostri calendari:</b></a><br>
        Oltre ad esserci, su tutte le pagine dettaglio, il tasto "Aggiungi a Google Calendar" per inserire lo specifico evento al vostro calendario personale, <b>NonSoCosaFare!</b> mette a disposizione gratuitamente i suoi calendari eventi attraverso dei file tipo ics.<br>
        Si possono avere tutti gli eventi raggruppati in un unico calendario, oppure avere più calendari con gli eventi filtrati.<br>
        Ogni giorno il file viene aggiornato automaticamente con i nuovi eventi.<br>
        Potete sincronizzare il calendario di NSCF con un account Google. Basta accedere al vostro Google Calendar e aggiungere un nuovo calendario da URL. <a href="http://www.google.com/support/calendar/bin/answer.py?hl=it&amp;answer=37100">QUI</a> è spiegato come fare.<br>
        Se avete uno smartphone (iPhone, Android, ecc.), un Tablet, un PC o altro che si sincronizza con Google Calendar, potete vedere gli eventi direttamente sul vostro calendario personale.<br>
        Ovviamente, il tutto, si aggiornerà da solo. Ogni giorno!<br>
        <br>
        Tutti gli eventi, raggruppati, si possono vedere a questo indirizzo: <a href="http://www.nonsocosafare.it/NSCFcalendar.asp">http://www.nonsocosafare.it/NSCFcalendar.asp</a><br>
        Se non volete vedere troppi eventi in un unico calendario o se volete solo eventi filtrati di un certo tipo, questo elenco fa per voi:<br>
        - Eventi Musicali: <a href="http://www.nonsocosafare.it/NSCFcalendar_Musicale.asp" title="Eventi Musicali">http://www.nonsocosafare.it/NSCFcalendar_Musicale.asp</a><br>
        - Eventi Fieristici: <a href="http://www.nonsocosafare.it/NSCFcalendar_Fiere.asp" title="Eventi Fieristici">http://www.nonsocosafare.it/NSCFcalendar_Fiere.asp</a><br>
        - Eventi Sportivi: <a href="http://www.nonsocosafare.it/NSCFcalendar_Sportivo.asp" title="Eventi Sportivi">http://www.nonsocosafare.it/NSCFcalendar_Sportivo.asp</a><br>
        - Eventi riguardanti le Feste: <a href="http://www.nonsocosafare.it/NSCFcalendar_Feste.asp" title="Eventi riguardanti le Feste">http://www.nonsocosafare.it/NSCFcalendar_Feste.asp</a><br>
        - Eventi riguardanti gli Spettacoli: <a href="http://www.nonsocosafare.it/NSCFcalendar_Spettacolo.asp" title="Eventi riguardanti gli Spettacoli">http://www.nonsocosafare.it/NSCFcalendar_Spettacolo.asp</a><br>
        - Eventi riguardanti Mostre e Mercati: <a href="http://www.nonsocosafare.it/NSCFcalendar_MostraMercato.asp" title="Eventi riguardanti Mostre e Mercati">http://www.nonsocosafare.it/NSCFcalendar_MostraMercato.asp</a><br>
        <br>
        Problemi noti: se decidete di sincronizzare con Google Calendar due o più calendari di NSCF, potreste vedere degli eventi doppi, perché un evento può appartenere a più categorie. Esempio: ad una Fiera di articoli sportivi, viene attribuito sia un tag (categoria) di tipo FIERA che SPORT
        <br><br>
        <a name="InfoContatti" title="Informazioni e contatti"><b>Per informazioni</b></a> <a href="mailto:info@nonsocosafare.it" title="Per informazioni inviateci una mail a...">info@nonsocosafare.it</a>.
        <br><br>
        <b>Il sito è ottimizzato per i browser <a href="http://www.mozilla.com/it/firefox/" title="Pagina di Mozilla Firefox" onclick="window.open(this.href);return false;">Mozilla Firefox</a> e <a href="http://www.google.com/chrome?hl=it" title="Pagina di Google Chrome" onclick="window.open(this.href);return false;">Google Chrome</a>.</b>
    </span>
</div>