// Flat design bootstrap override

@import "variables.less";
@import "helpers.less";
@import "bootstrap-flat.less";
@import "components.less";
@import "elements.less";

@import "header.less";

@import "events.less";
@import "home.less";

html {
  height: 100%;
  width: 100%;

  body {
    height: 100%;
    width: 100%;
    background: url(../images/bggreydiag.gif);
    overflow: hidden;

    > .container-fluid   {
      margin: 0 20px;
      position: relative;
      height: 100%;
      overflow: hidden;
      padding: 0;
      background: @color-white;

      .main-region {
        padding: 50px 0 58px 0;
        height: 100%;
        width: 100%;

        .main-view {
          .clearfix;
          height: 100%;
          width: 100%;
          padding: 15px;
          overflow-y: auto;
          overflow-x: hidden;
          z-index: @zindex-main-view;
        }
      }

      .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-top: 20px;
        z-index: @zindex-footer;
        box-shadow: 0 -6px 20px @color-grey;

        .row {
          background: #f5f5f5;

          .col-sm-12 {
            text-align: center;

            p {
              font-size: .8em;
            }
            .breadcrumb {
              padding: 8px 0;
              margin-bottom: 6px;
            }
          }
        }

      }
    }
  }
}

// Province box
.list-province {
  max-height: 300px;
  overflow-y: auto;
}

// Directives
.glyphicon {
  margin-right: 6px;
}

@import "responsive.less";
