@import "variables";

.event-item {

  .event-image {
    background-size: cover;
    width: 15%;
    padding-top: 15%;
    margin: 0px -5px;
    background-color: darken(@color-white, 7);
  }

  p {
    width: 84%;
    margin-bottom: 3px;
    float: right;
  }

  .event-date {
    color: @color-grey;
    display: block;
    width: 84%;
    margin-bottom: 3px;
    float: right;
  }
  .event-luodo {
    color: darken(@color-grey, 5);
    display: block;
    width: 84%;
    margin-bottom: 3px;
    float: right;
  }
}
