.header-region {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #67ce12;
  border-top: 6px solid #44880c;
}
.header-region .navigation nav {
  background: #67ce12;
  color: #fff;
  border: 0;
  margin-bottom: -1px;
  margin-top: 10px;
  min-height: inherit;
}
.header-region .navigation nav .navbar-collapse .navbar-btn {
  margin: 0;
}
.header-region .navigation nav .nav {
  color: #fff;
}
.header-region .navigation nav .nav li a {
  color: #ffffff;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 20px;
}
.header-region .navigation nav .nav li.active {
  background-color: #ffffff;
}
.header-region .navigation nav .nav li.active a {
  background-color: #ffffff;
  color: #67ce12;
}
.header-region .navigation nav .navbar-brand {
  margin: 0;
}
