<div class="footer">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a href="#/info">Info</a></li>
                <li><a href="#/contatti">Contatti</a></li>
            </ol>
            <p>
                <strong>Non so cosa fare!</strong> è un sito puramente informativo, non è quindi responsabile di eventuali variazioni di programma indicati nelle pagine.
                <!--<br/>-->
                <!--Si consiglia, quando possibile, di verificare ogni singolo evento consultando i recapiti nell'area contatti della pagina Dettagli.-->
                <!--<br/>-->
                <!--Per inviarci degli eventi o segnalare dei problemi, visitate la pagina dei <a href="#/contatti">contatti</a>.-->
            </p>
        </div>
    </div>
</div>