<div ng-controller="Header" class="header-region">
        <div class="row">
            <div class="col-sm-12">
                <a class="navbar-brand" href="#/" title="Torna alla home page"><img src="http://www.nonsocosafare.it/i/logo2.gif" alt=""/></a>
            </div>
        </div>

        <div class="row navigation">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Eventi di oggi</a></li>
                            <li><a href="#">Weekend</a></li>
                            <li><a href="#">Vicino a me</a></li>
                        </ul>
                        <button type="button" class="btn btn-default navbar-btn pull-right">Sign in</button>
                    </div>
                </div>
            </nav>
            <div class="col-sm-12">
            </div>
        </div>
</div>