<div class="row">
    <div class="col-sm-5 center-view">
        <p ng-show="loading == true" class="mal text-center">Caricamento in corso ...</p>
        <div ng-show="loading == false">
            <div ng-repeat="(id,event) in events">
                <ng-include src="'assets/templates/events/single-event-list.html'"></ng-include>
            </div>
        </div>
    </div>
    <div class="col-sm-7 side-view">
        <ng-include src="'assets/templates/events/single-event-detail.html'"></ng-include>
    </div>
</div>