<!--<div class="row mbl">-->
    <!--<div class="col-sm-9">-->
        <!--<ul class="nav nav-tabs nav-">-->
            <!--<li class="active"><a href="#">Eventi di oggi</a></li>-->
            <!--<li><a href="#">Eventi nel Week end</a></li>-->
            <!--<li><a href="#">Vicino a me (mappa)</a></li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class="col-sm-3">-->
        <!--<small class="pull-right">23423 eventi questa settimana</small>-->
    <!--</div>-->
<!--</div>-->
<div class="row">
    <div class="col-sm-9 center-view">
        <p ng-show="loading == true" class="mal text-center">Caricamento in corso ...</p>
        <div ng-show="loading == false">
            <div ng-repeat="(id,event) in events">
                <ng-include src="'assets/templates/events/single-event-list.html'"></ng-include>
            </div>
        </div>
    </div>
    <div class="col-sm-3 side-view">
        <div class="panel panel-info">
            <div class="panel-heading">Province</div>
            <p ng-show="loadingProvince == true" class="mal text-center">Caricamento in corso ...</p>
            <div class="list-group list-province">
                <a class="list-group-item" ng-class="{'active': filterName == provincia.provincia}" ng-click="setFilterProvincia($event, provincia.id, provincia.provincia)" ng-repeat="provincia in province">
                    <span class="badge">{{provincia.event_count}}</span>
                    {{provincia.provincia}}
                </a>
            </div>
        </div>
    </div>
</div>